CS230 = #70d6ff
CS240 = #ffd670
CS251 = #ef709d
CS255 = #dabfff
CS259 = #85ffc7

brightRed = #ED1C24
deepRed = #C90119
offWhite = #fafafa
lightGrey = #f4f4f4
mediumGrey = #cecece
semiDarkGrey = #a5a5a5
darkGrey = #1c1c1c
